[Unit]
Description=Creekey SSH Agent
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=creekey agent

[Install]
WantedBy=default.target
